@model CrudApp.Models.Department
@{
    ViewBag.Title = Model.Name;
}

<h2>Department - @Model.Name</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Code</dt>
        <dd>@Model.Code</dd>
    </dl>
</div>
